/*Tags principais*/
body{
    font-family: 'Open Sans', sans-serif;
    color: #666;
    line-height: 2;
    font-size: 90%;
}

a{
    transition: color text-decoration 1s linear, border 1s linear;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #49bf9d;
}

a:hover{
    border-bottom: transparent;
}

h1, h2, h3, h4, h5, h6{
    color: #787878;
    font-weight: normal;
    margin: 1em 0;
}

p{
    margin: 0 0 2em;
}

sub, sup{
    font-size: 12px;
}

blockquote{
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: .4em 0 0 2em;
}

code{
    background-color: #f4f2f2;
    border-radius: .5em;
    border: 2px solid #efefef;
    font-size: .9em;
    padding: .2em .2em;
    color: #929292;
}

pre code{
    display: block;
}

ul, ol{
    margin: 0;
    padding: 0;
    padding-left: 1.1em;
    list-style-position: inside;
}

input, label, textarea{
    width: 100%;
    box-sizing: border-box;
}

input[type="radio"], input[type="checkbox"]{
    width: auto;
}/*selecionando atributo específico*/



/*Listas*/
.list-alternate{
    list-style-type: none;
    padding-left: 0;
}

.list-alternate li{
    border-bottom: 3px solid #f4f2f2;
}

.list-alternate li:last-child{
    border: 0;
}/*seleciona o último filho da tag*/

.ul-icons li {
    list-style-type: none;
    padding-left: 0;
    display: inline-block;
    font-size: 1.5em;
    margin: 5px;
    color: #49bf9d;
}



/*Grid*/
.row{
    overflow: auto;
    display: flex;
}

.col{
    width: 50%;
}

.col-2-3{
    width: 65%; 
}

.col-1-3{
    width: 32%;
    margin-left: 3%;
}

.col-1-3 address{
    position: relative;
    top: 4.5em;
    text-align: justify;
    text-align: center;
}

.inner-col{
    width: 48%;
    display: inline-block;
    box-sizing: border-box;
}

.inner-col:first-child{
    margin-right: 1em;
}

.inner-row{
    margin-top: 1em;
}

.inner-row input, textarea{
    padding: .5em;
    border-radius: 8px;
    border: 1px solid #cac9c9;
}

.send{
    text-align: center;
    width: 20%;
}


/*Imagens*/
.card{
    margin: 1em 3em 3em 0;
}

.text{
    padding: 1em; 
    background-color: rgb(247, 245, 245);
}

.link-img{
    border: 0;
}

img{
    display: block;
    max-width: 100%; /*ajusta até o tamanho máximo da imagem*/
    border-radius: 5px 5px 0 0;
}

.main-header img{
    border-radius: 50%;
}



/*Botões*/
.button-default{
    margin-top: 1em;
    background-color: #49bf9d;
    border: 2px solid #49bf9d;
    color: white;
    padding: .5em 2em;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

.button-default-stroke{
    background-color: white;
    color: inherit;
    border: 1px solid #d8d5d5;
}

.button-default-small{
    font-size: .8em;
}

.button-default-full{
    display: block;
    text-align: center;
    margin-top: 1em;
}



/*Tabelas*/
.table{
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
    text-align: left;
}

.table th{
    background-color: rgb(244, 244, 244);
    padding: .5em;
}

.table td{
    padding: .5em;
}

.table tbody tr:first-child td{
    border-top: 1px solid rgb(221, 219, 219);
}

.table tbody tr:last-child td{
    border-bottom: 1px solid rgb(221, 219, 219);
}

.table tbody tr td{
    border-bottom: 1px solid rgb(230, 228, 228);
}

.table tbody tr:nth-child(odd) td{
    background-color: rgb(230, 228, 228);
}/*pseudo-classe que seleciona filhos específicos 'odd-ímpares' 'even-pares'*/

.table-alternate tbody td{
    border: 1px solid rgb(230, 228, 228);
}


/*Mains*/
.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 7% 5%;
    box-sizing: border-box;
    background-image: url(imagens/overlay.png), url(imagens/bg.jpg); 
    background-position: top left;
    background-size: cover;
    text-align: right;
}

.main-header-h1{
    font-size: 24px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.611);
}

.main-header-h1 strong{
    color: rgb(228, 227, 227);
}

.main-header-link{
    color: inherit;
}

.main-header-link:hover{
    color: #49bf9d;
}

.main-content{
   width: 65%;
   padding: 7% 6%;
   position: relative;
   left: 35%;
   box-sizing: border-box;
}

.main-cards{
    margin-top: 3em;
}
